{% extends 'layouts/base.html' %} {% load static %}{% load jsonify %} 
{% block head %} {% endblock head %} {% block body %}

<div class="row">
  <div class="col-12 p-2">
    <div class="card p-2 text-center">
      <h1>Shortcuts</h1>
      <div class="d-flex justify-content-between flex-wrap">
        <a href="{% url 'cancel_all_orders' trading_screen.id %}" class="btn btn-danger">Cancel all orders</a>
        <a href="{% url 'sync_amounts' trading_screen.id %}" class="btn btn-primary">Sync portfolio</a>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-4 p-2">
    <div class="card p-2 text-center">
      <h1>Total portfolio value in USD</h1>
      <h2>{{ portfolio_usd_value }} $</h2>
    </div>
  </div>
  <div class="col-md-4 p-2">
    <div class="card p2 text-center">
      <h1>Daily portfolio results</h1>
      <h2><h2 style="color: {{daily_portfolio_color}}">{% if daily_portfolio_evolve > 0%}+{% endif %}{{daily_portfolio_evolve}}%</h2></h2>
      <div class="text-left">Was {{daily_portfolio_first_value}}</div>
    </div>
  </div>
  <div class="col-md-4 p-2">
    <div class="card p2 text-center">
      <h1>All time portfolio results</h1>
      <h2><h2 style="color: {{all_time_portfolio_color}}">{% if all_time_portfolio_evolve > 0%}+{% endif %}{{all_time_portfolio_evolve}}%</h2></h2>
      <div class="text-left">Was {{all_time_portfolio_first_value}}</div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="card p-1 col-12">
    <canvas id="myChart" width="800" height="400"></canvas>
  </div>
</div>
<div class="row mt-4">
  {% for pair in pairs %}
  <div class="col-md-3 p-2">
    <div class="card p-2">
      <h3>{{pair.currency_1.name}}</h3>
      <h4>1 {{pair.currency_1.symbol}} is {{pair.value}} $</h4>
      <h4>{{pair.customer_owned_in_dollars}} $  in portfolio</h4>
    <a class="btn btn-primary"
      href="{% url 'trading_dashboard' trading_screen.id pair.currency_1.symbol pair.currency_2.symbol %}"
      >Open trading screen</a
    >
    </div>
  </div>
  {% endfor %}
</div>
{% endblock body %} {% block javascript %}
<script>
  const ctx = document.getElementById("myChart");

  const labels = {{ labels|jsonify }};
  const data = {
    labels: labels,
    datasets: {{ datasets|jsonify}},
  };

  const config = {
    type: "line",
    data: data,
    options: {
      plugins: {
        title: {
          display: true,
          text: "Portfolio evolution (last 24 hours every 30 minutes)",
        },
      },
      responsive: true,
      scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true,
        },
      },
    },
  };

  const myChart = new Chart(ctx, config);
</script>
{% endblock javascript %}
