{% extends 'layouts/base.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">

{% endblock head %}


{% block body %}
  
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      {% if pair %}
        <table id="pair"  class="table " style="width:100%">
          <thead>
            <tr>
              <th>Currency 1</th>
              <th>Currency 2</th>
              <th>Symbol</th>
              <th>Actual Value</th>
            </tr>
          </thead>
          <tbody>
            {% for object in pair %}
            <tr onclick="location.href='{% url 'display_one_pair'  object.pk  %}'">
              <th>{{object.currency_1}}</th>
              <th>{{object.currency_2}}</th>
              <th>{{object.symbol}}</th>
              <th>{{object.value}}</th>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      {% endif %}
      {% if exchange_api %}
        <table id="exchange_api"  class="table  table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Exchange</th>
              <th>Authentication</th>
            </tr>
          </thead>
          <tbody>
            {% for object in exchange_api %}
            <tr onclick="location.href='{% url 'display_one_pair'  object.pk  %}'">
              <th>{{object.exchange}}</th>
              <th>{{object.authentication}}</th>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      {% endif %}
      {% if currency %}
        <table id="currency"  class="table table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Exchange</th>
              <th>Name</th>
              <th>Symbol</th>
            </tr>
          </thead>
          <tbody>
            {% for object in currency %}
            <tr onclick="location.href='{% url 'display_one_pair'  object.pk  %}'">
              <th>{{object.exchange}}</th>
              <th>{{object.name}}</th>
              <th>{{object.symbol}}</th>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      {% endif %}
      {% if trading_screen %}
        <table id="trading_screen"  class="table  table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Users</th>
              <th>Allowed Pairs</th>
              <th>Exchange API</th>
            </tr>
          </thead>
          <tbody>
            {% for object in trading_screen %}
            <tr onclick="location.href='{% url 'display_one_pair'  object.pk  %}'">
              <th>{{object.user}}</th>
              <th>{{object.allowed_pairs}}</th>
              <th>{{object.exchange_api}}</th>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      {% endif %}
    </div>
  </div>
</div>


<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#pair').DataTable();
        $('#exchange_api').DataTable();
        $('#currency').DataTable();
        $('#trading_screen').DataTable();
    });
</script>
{% endblock body %}